{% extends "base.html" %}

{% block title %}1215-1297 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container timeline">
    <h1>The Magna Carta</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="jumbotron">
                <p>Fair representation takes time. For Canada, that process started with the Magna Carta in 1215.</p>
                <blockquote>
                    <p>The Magna Carta established a council of 25 barons to see King John kept to the clauses like protection from illegal imprisonment, access to swift justice, parliamentary assent for taxation, and scutage limitations.</p>
                    <p>King John denounced it as "not only shameful and demeaning but also illegal and unjust".</p>
                    <footer><a href="https://simple.m.wikipedia.org/wiki/Magna_Carta">Wikipedia's simple summary</a></footer>
                </blockquote>
            </div>
        </div>
        <div class="col-lg-8">
            <iframe class="panel" src="https://en.m.wikipedia.org/wiki/Magna_Carta" style="height: 621px"></iframe>
        </div>
    </div>
    <div class="landscapes">
        <a href="/1867-1960/">
            <h3>1867-1960 &raquo;<br /><small>Universal Suffrage</small></h3>
            <img src="/static/images/timeline-1918.jpg" />
        </a>
    </div>
</div>
{% endblock %}
