{% extends "base.html" %}

{% block title %}1867-1960 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container timeline">
    <h1>1867: 11% of Canadians</h1>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p>At the time of Confederation, only 11% of Canadians were eligible to vote. Parliament did not reflect Canada's population on the whole.</p>
                <p class="text-center"><img src="/static/images/registered-proportion.png" /></p>
                <p>Fortunately, there were several significant changes to who had the right to vote.</p>
            </div>
            <div class="col-md-6">
                <blockquote>
                    <p>In 1867, the definition of the franchise was left to the provinces. This meant that eligibility to vote in a federal election could vary from one province to the other. All provinces, however, restricted the franchise to male British subjects who were at least 21 years old who had a property qualification.</p>
                    <footer><a href="http://thecanadianencyclopedia.ca/en/article/franchise/">The Canadian Encyclopedia, <cite>Right to Vote in Canada</cite></a></footer>
                </blockquote>
                <blockquote>
                    <p>For example, to be qualified to vote in a city, a man was required to own real property valued at $300 or more.</p>
                    <p>These restrictions remained in force until the beginning of the twentieth century and persisted even longer in some provinces.</p>
                    <footer><a href="http://www.elections.ca/content.aspx?section=res&dir=his&document=chap2&lang=e#a23">Elections Canada, <cite>The Electoral Mosaic, 1867–1885</cite></a></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <h2>1918: Women's Suffrage</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <blockquote>
                    <p>For many years there has been a growing feeling that the equality of the sexes should be recognized, and that the women, who, perhaps in a special degree in a new country, have aided in the development, put up with the hardships and assisted in the prosperity, should have the right to take an equal part in the Government of the country.</p>
                    <footer><a href="http://www.lipad.ca/full/1916/02/28/7/#437505">William Pugsley in Parliament, February 28, 1916</a></footer>
                </blockquote>
                <blockquote>
                    <p>On 24 May 1918, female citizens, not included under racial or Indigenous exclusions, aged 21 and over became eligible to vote in federal elections regardless of whether they had yet attained the provincial franchise.</p>
                    <footer><a href="http://thecanadianencyclopedia.ca/en/article/suffrage/">The Canadian Encyclopedia, <cite>Women's Suffrage in Canada</cite></a></footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <p><a href="https://en.wikipedia.org/wiki/The_Famous_Five_(Canada)"><img title="Unveiling of a plaque commemorating the Famous Five with Mackenzie King, June 11th, 1938" src="/static/images/famous-five.jpg" class="block" /></a></p>
                <p>The 13th General Election had 28% of Canadians registered to vote. The following election in 1921 had 51% registered.</p>
            </div>
        </div>
    </div>
    <h2>1948: Asian Suffrage</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p><a href="https://en.wikipedia.org/wiki/Won_Alexander_Cumyow"><img title="Won Alexander Cumyow voting in 1949" src="/static/images/won-alexander-cumyow.jpg" class="block" /></a></p>
            </div>
            <div class="col-md-6">
                <blockquote>
                    <p>One of the significant exceptions to universal adult suffrage in the Dominion Elections Act of 1920 was a clause stating that people disenfranchised by a province "for reasons of race" would also be excluded from the federal franchise.</p>
                    <p>In 1936, a delegation of Japanese Canadians asked the House of Commons to extend the franchise to them. Prime Minister Mackenzie King said that he had been unaware that they wanted the franchise.</p>
                    <p>Travel and other restrictions on Japanese Canadians continued until 1948, when Parliament deleted the reference to discrimination in the franchise on the basis of race.</p>
                    <footer><a href="http://www.elections.ca/content.aspx?section=res&dir=his&document=chap3&lang=e#a321">Elections Canada, <cite>Modernization, 1920–1981</cite></a></footer>
                </blockquote>
                <p>The 20th General Election had 60% of Canadians registered to vote. The following election in 1949 had 67% registered.</p>
            </div>
        </div>
    </div>
    <h2>1960: First Nations and Indian Status</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <blockquote>
                    <p>The Diefenbaker government’s key achievement in Aboriginal affairs was the extension of the franchise (or the right to vote) in 1960.  First Nations people before this time, as federal “wards” were not allowed to vote in federal elections. Following the two World Wars, veterans were enfranchised, but only if they gave up their Indian Status  – only 250 voluntarily accepted the offer.</p>
                    <p>In 1960, his government changed the section of the Indian Act which denied First Nations people the vote.</p>
                    <footer><a href="https://www.usask.ca/diefenbaker/virtual-exhibits/aboriginal-enfranchisement.php">Diefenbaker Canada Centre, <cite>The Enfranchisement of the Aboriginal Peoples of Canada</cite></a></footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <p><a href="https://en.wikipedia.org/wiki/John_Diefenbaker#Mandate_.281958.E2.80.931962.29"><img title="Diefenbaker with Chief Little Crow" src="/static/images/diefenbaker-sioux.jpg" class="block" /></a></p>
            </div>
        </div>
    </div>
    <div class="landscapes">
        <a href="/1215-1297/">
            <h3>&laquo; 1215-1297<br /><small>Magna Carta</small></h3>
            <img src="/static/images/timeline-1215.jpg" />
        </a>
        <a href="/1964/">
            <h3>1964 &raquo;<br /><small>Ending Gerrymandering</small></h3>
            <img src="/static/images/timeline-1964.jpg" />
        </a>
    </div>
</div>
{% endblock %}
