{% extends "base.html" %}

{% block title %}1909-1923 &ndash; {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>p + iframe { margin-top: 2em; }</style>
{% endblock %}

{% block content %}
<div class="container timeline">
    <h1 class="text-center">1909: Early Canadian Discussions on Proportional Representation</h1>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p>Canada did not first touch upon <a href="/proportional-representation/">proportional representation</a> in 2016 with the most recent Special Committee on Electoral Reform. That honour goes back as far as 1909.</p>
                <blockquote>
                    <p>That in the opinion of this House the system of election prevalent in this country fails to reflect, in our representative assemblies, correctly, and in accurate proportions, the currents of public opinion which should find expression by the votes of the electorate.</p>
                    <p>It is therefore desirable to reform our electoral law, by the adoption of an improved method of proportional representation whereby the House of Commons may become the faithful expression of the will of the electors as manifested by their votes; that a select committee of this House be appointed to investigate the different systems of proportional representation adopted or suggested elsewhere, as an improvement upon our present methods of election, with power to extend said inquiry to all the various forms of the proportional representation laws proposed or in force.</p>
                    <footer><a href="http://www.lipad.ca/full/permalink/255404/">Frederick Debartzch Monk of Jacques Cartier, March 15th, 1909</a></footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <p>But it wasn't until 1919 after two Conservative majorities that the Liberal Party would adopt proportional representation as one of their platform resolutions in preparation for the 14th general election.</p>
                <blockquote>
                    <p>Adopted Resolution: The acceptance of the principle of proportional representation</p>
                    <footer><a href="/static/backups/platform/lpc-1919.pdf">A Message of Liberalism, adopted at The National Liberal Convention, 1919</a></footer>
                </blockquote>
                <p><img class="block" src="/static/images/king-1919.jpg" /></p>
                <p>The Liberal Party then won 1921's general election with a false majority with 43% of the vote and 51% of the seats. <a href="/2015/">Is this beginning to sound familiar?</a></p>
            </div>
        </div>
    </div>
    <h2 class="text-center">Backing out of the Promise</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p>After the 14th general election, the Liberal Party convened the Special Committee on Proportional Representation. The committee came short of recommending proportional representation directly, but instead advocated a plebiscite be held on the use of STV, ranked ballots in multi-winner ridings.</p>
                <blockquote>
                    <p>Your Committee recommends that before action be taken a plebiscite should be held for the purpose of ascertaining the desires of the electors as to the application of the principle of proportional representation with group constituencies.</p>
                    <footer><a href="http://parl.canadiana.ca/view/oop.HOC_1305_58_01/359">Special Committee on Proportional Representation, May 30th, 1921</a></footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <p>Two years passed before the Liberal Party voted against the recommendation in 1923.</p>
                <blockquote>
                    <p>It is true that in the Liberal platform which was passed in August, 1919, a platform they do not like to be reminded of any oftener than cannot be avoided, the Liberal party committed itself to the principle of proportional representation.</p>
                    <p>Another presumption therefore which we would be quite justified in drawing from the experience of the last two years would be that while they, the government, favoured the principle, it was utterly opposed to the practice.</p>
                    <footer><a href="http://www.lipad.ca/full/1923/02/19/8/#643346">Arthur Meighen, Leader of the Opposition, February 19th, 1923</a></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <h2 class="text-center">The Vote</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p><a href="http://parl.canadiana.ca/view/oop.HOC_1402_60_01/75"><img class="block" src="/static/images/1923-02-19-75.jpg" /></a></p>
            </div>
            <div class="col-md-6">
                <p><a href="http://parl.canadiana.ca/view/oop.HOC_1402_60_01/76"><img class="block" src="/static/images/1923-02-19-76.jpg" /></a></p>
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/iVo3rmu3ymM?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="landscapes">
        <a href="/2015/">
            <h3>2015 &raquo;<br /><small>History Repeats Itself</small></h3>
            <img src="/static/images/timeline-2015.jpg" />
        </a>
    </div>
</div>
{% endblock %}
