{% extends "base.html" %}

{% block title %}1909-1923 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">1909</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <p>Canada did not first touch upon <a href="/proportional-representation/">proportional representation</a> in 2016 with the most recent Special Committee on Electoral Reform. That honour goes back as far as 1909.</p>
                <a href="https://www.pressprogress.ca/the_liberals_broke_their_promise_to_reform_canada_electoral_system_in_1923_too">asdf</a>
                <a href="/static/backups/reports/1921-lop-proceedings.pdf">1921 proceedings</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <blockquote>
                    <p>That in the opinion of this House the system of election prevalent in this country fails to reflect, in our representative assemblies, correctly, and in accurate proportions, the currents of public opinion which should find expression by the votes of the electorate.</p>
                    <p>It is therefore desirable to reform our electoral law, by the adoption of an improved method of proportional representation whereby the House of Commons may become the faithful expression of the will of the electors as manifested by their votes; that a select committee of this House be appointed to investigate the different systems of proportional representation adopted or suggested elsewhere, as an improvement upon our present methods of election, with power to extend said inquiry to all the various forms of the proportional representation laws proposed or in force.</p>
                    <footer><a href="http://www.lipad.ca/full/permalink/255404/">Frederick Debartzch Monk of Jacques Cartier, March 15th, 1909</a></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <h2 class="text-center">1919</h2>
    <pre>
        Campaign platform of electoral reform
        Find the liberal platform from 1919 to which Meighen refers
    </pre>
    <h2 class="text-center">1921</h2>
    <pre>
        Special Committee on Proportional Representation
        Details on the Committee's findings
    </pre>
    <h2 class="text-center">1923</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <blockquote>
                    <p>It is true that in the Liberal platform which was passed in August, 1919, a platform they do not like to be reminded of any oftener than cannot be avoided, the Liberal party committed itself to the principle of proportional representation.</p>
                    <p>Another presumption therefore which we would be quite justified in drawing from the experience of the last two years would be that while they, the government, favoured the principle, it was utterly opposed to the practice.</p>
                    <footer><a href="http://www.lipad.ca/full/1923/02/19/8/#643346">Arthur Meighen, Leader of the Opposition, February 19th, 1923</a></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p><a href="http://parl.canadiana.ca/view/oop.HOC_1402_60_01/75"><img class="block" src="/static/images/1923-02-19-75.jpg" /></a></p>
        </div>
        <div class="col-md-6">
            <p><a href="http://parl.canadiana.ca/view/oop.HOC_1402_60_01/76"><img class="block" src="/static/images/1923-02-19-76.jpg" /></a></p>
        </div>
    </div>
</div>
{% endblock %}
