{% extends "base.html" %}

{% block title %}1964 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container timeline">
    <h1>1964: Gerrymandering</h1>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p>Gerrymandering is the practice of abusing electoral riding boundaries to distort the outcome of an election.</p>
                <iframe src="https://www.youtube-nocookie.com/embed/Mky11UJb9AY?list=PL7679C7ACE93A5638?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p><img title="Maryland's 3rd Congressional District" src="/static/images/maryland-district-3.jpg" class="block" /></p>
            </div>
        </div>
    </div>
    <h2>Comparing Canada's districts to the United States'</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <blockquote>
                    <p>After 1903, constituency boundaries were determined by a parliamentary committee on which the government ordinarily had a majority, thus still getting its own way. These arrangements frequently resulted in outright gerrymandering.</p>
                    <footer><a href="http://www.thecanadianencyclopedia.ca/en/article/redistribution/">The Canadian Encyclopedia, <cite>Redistribution of Federal Electoral Districts</cite></a></footer>
                </blockquote>
                <blockquote>
                    <p>In 1964, the Electoral Boundaries Readjustment Act (EBRA) established a genuinely impartial process for redrawing constituency borders in Canada. The premise underlying the impartiality sought by EBRA is that the responsibility for boundary adjustment must be assigned to formally non-partisan bodies.</p>
                    <footer><a href="http://www.thecanadianencyclopedia.ca/en/article/redistribution/">Elections Canada, <cite>A History of the Vote in Canada</cite></a></footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <p><img src="/static/images/argenteuil-la-petite-nation.jpg" class="block" /></p>
            </div>
        </div>
    </div>
    <h2>The Problem of Disproportionality</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p>Canada has taken forward steps to ensure universal suffrage and equal voice to all Canadians. However, some Canadians are still denied their voice.</p>
                <p>Where gerrymandering says <q>I can abuse where you live to distort parliament</q>, non-proportional systems like First-Past-The-Post do the same.</p>
                <p>This brings us to the most recent discussion of fair elections, recognizing that some votes just don't count. And in fair democracy they should.</p>
            </div>
            <div class="col-md-6">
                <a href="/proportional-representation/"><img src="/static/images/proportional-representation.png" /></a>
            </div>
        </div>
    </div>
    <div class="landscapes">
        <a href="/1867-1960/">
            <h3>&laquo; 1867-1960<br /><small>Universal Suffrage</small></h3>
            <img src="/static/images/timeline-1918.jpg" />
        </a>
        <a href="/2015/">
            <h3>2015 &raquo;<br /><small>A Promise Made</small></h3>
            <img src="/static/images/timeline-2015.jpg" />
        </a>
    </div>
</div>
{% endblock %}
