{% extends "base.html" %}

{% block title %}1964 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container timeline">
    <h1>1964: Gerrymandering</h1>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
    <div class="landscapes">
        <a href="/1867-1960/">
            <h3>&laquo; 1867-1960<br /><small>Universal Suffrage</small></h3>
            <img src="/static/images/timeline-1918.jpg" />
        </a>
        <a href="/2015/">
            <h3>2015 &raquo;<br /><small>A Promise Made</small></h3>
            <img src="/static/images/timeline-2015.jpg" />
        </a>
    </div>
</div>
{% endblock %}
