{% extends "base.html" %}

{% block title %}2015 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container timeline">
    <h1>2015: A Promise Made</h1>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <p>In 2011, the Liberal Party won 11% of the seats in parliament with 19% of the popular vote, record lows on both counts. The Conservatives won 54% with 40%, record highs since their 2003 merger.</p>
                <p>When a party wins a majority of seats without a majority of votes, it's called a <em>false majority</em>.</p>
                <iframe src="https://www.youtube-nocookie.com/embed/CEVvDK_27lM?rel=0&showinfo=0&start=483&end=512" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6">
                <p>Leading up to the 2015 election, Trudeau had the following to say about the Conservative party's disproportionate power:</p>
                <blockquote>
                    <p>We need change. We need to know that when we cast a ballot, it counts. That when we vote, it matters. So I'm proposing we make every vote count.</p>
                    <footer>Justin Trudeau, June 2015</footer>
                </blockquote>
                <p>On October 5th, 2015, the party released the details of their platform officially including electoral reform.</p>
                <blockquote>
                    <p>We are committed to ensuring that 2015 will be the last federal election conducted under the first-past-the-post voting system.</p>
                    <footer>2015 Liberal Policy Platform, Electoral Reform</footer>
                </blockquote>
            </div>
        </div>
    </div>
    <h2>So what's wrong with how we vote?</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <p>When Trudeau says <q>I'm proposing we make every vote count</q>, that implies some votes don't count. And he's right.</p>
                <p>Under first-past-the-post, significant portions of Canadians have no voice in parliament while others have more than their fair share. 19% of the vote, 11% of the seats. 38% of the vote, 54% of the seats.</p>
                <p>Voters are forced to vote strategically. Many don't vote at all thinking that their vote doesn't matter.</p>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.youtube-nocookie.com/embed/s7tWHJfhiyo?rel=0&showinfo=0&end=361" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <h2>2015's False Majority</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <iframe src="https://www.youtube-nocookie.com/embed/DTM5JD7_lus?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6">
                <p>Election night, October 19th, resulted in the Liberals rebounding from their 2011 defeat, winning a majority of seats.</p>
                <p>However, they obtained 54% of the seats with only 39% of the vote, a majority as false if not slightly moreso than the Conservative's.</p>
                <p>The promise to <q>make every vote count</q> was made while underrepresented. So how does a party hold on to disproportionate power after a promise like that?</p>
            </div>
        </div>
    </div>
    <div class="landscapes">
        <!--
        <a href="/1964">
            <h3>&laquo; 1964<br /><small>Ending Gerrymandering</small></h3>
            <img src="/static/images/timeline-1964.jpg" />
        </a>
        -->
        <a href="/2016-erre">
            <h3>2016 &raquo;<br /><small>The Special Committee on Electoral Reform</small></h3>
            <img src="/static/images/timeline-2016-erre.jpg" />
        </a>
    </div>
</div>
{% endblock %}
