{% extends "base.html" %}

{% block title %}2016 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container timeline">
    <!-- 90% of experts, 88% of canadians that -->
    <h2>MyDemocracy.ca</h2>
    <div class="well">
        <div class="row">
            <div class="col-sm-6">
    <ul>
        <li>Did you vote in the last federal election?</li>
        <li>Did you vote in federal elections?</li>
        <li>When you vote, do you feel that your vote "counts"?</li>
        <li>When you have voted, what motivated you to cast your ballot?</li>
        <li>When you have not voted, what has been the reason?</li>
        <li>How important is it to you are each of the following elements to you? To know your local representative, To be affiliated with a political party, To be aware of political party platforms</li>
        <li>One political party should hold a majority of seats in Parliament</li>
        <li>No single political party should hold the majority of seats in Parliament, increasing the likelihood of political parties working together to pass legislation</li>
        <li>Voters should elect local candidates to represent them in Parliament</li>
        <li>Number of seats held by a party in Parliament should reflect the proportion of votes it received across the country</li>
        <li>Independent candidates should be able to be elected to Parliament</li>
        <li>The current electoral system adequately reflects voters' intentions</li>
        <li>If I vote for a candidate in my riding who does not win, my vote is wasted</li>
        <li>The current electoral system should be maintained</li>
        <li>The current electoral system should be changed</li>
        <li>Seats in the House of Commons should be filled by the candidates who receive the most votes</li>
        <li>In order be elected in a riding, a candidate should have to obtain more than half of the votes cast</li>
        <li>Voters should be able to rank the candidates and have the outcome determined based on preferences</li>
        <li>A second round should take place between the top two if no candidate obtains more than half the votes cast</li>
        <li>Voters should vote for political parties and the seats should be allocated based on percentage of votes </li>
        <li>Political parties should determine which of their candidates get elected from their list</li>
        <li>Voters should determine which candidates get elected from a party's list</li>
        <li>Canada's electoral system should produce a proportional Parliament through the direct election of local representatives in multi-member districts</li>
        <li>Voters should cast two votes on their ballots: one for a candidate and one for a party</li>
        <li>Seats should be allocated in proportion to the percentage of votes received by each political party</li>
        <li>Canadians should be required to cast a ballot in a federal election</li>
        <li>Canadians should be penalized for failing to cast a ballot in a federal election </li>
        <li>Incentives should be put in place to encourage Canadians to cast a ballot</li>
        <li>Canadians should be able to vote online in a federal election</li>
        <li>There is a public good or value associated with voting in person</li>
        <li>I am concerned about the security and reliability of online voting</li>
        <li>Online voting should only be considered as an alternative for people unable to vote in person on election day</li>
        <li>Any plans for a future Canadian electoral system should be determined by a majority of members of Parliament</li>
        <li>Any plans for a future Canadian electoral system should require broad public support</li>
        <li>Broad public support should be gauged through in-person and online consultation</li>
        <li>Broad public support should be gauged through the creation of a citizens' assembly</li>
        <li>Broad public support should be gauged through a direct vote by Canadians</li>
    </ul>
    <p>Seats should be allocated in proportion to the percentage of votes received by each political party</p>
    
</blockquote>

There should be parties in Parliament that represent the views of all Canadians, even if some are radical or extreme.
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
    <div class="landscapes">
        <a href="/2016-erre">
            <h3>&laquo; 2016<br /><small>The Special Committee on Electoral Reform</small></h3>
            <img src="/static/images/timeline-2016-erre.jpg" />
        </a>
        <a href="/2017">
            <h3>2017 &raquo;<br /><small>Breaking the Promise</small></h3>
            <img src="/static/images/timeline-2017.jpg" />
        </a>
    </div>
</div>
{% endblock %}
