{% extends "base.html" %}

{% block title %}2016 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container timeline">
    <!-- 90% of experts, 88% of canadians that -->
    <h2>2016: MyDemocracy.ca</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <p>On December 5th, the Liberal Party released MyDemocracy.ca, an online survey accompanied by postcards sent to every Canadian household.</p>
                <p>Unfortunately, the survey suffered from some key flaws. Notably, the survey never directly asked if Canadians wanted a new electoral system, nor did it ask about proportionality.</p>
                <blockquote>
                    <p>In almost every case the choice upon which such doubt is cast is the reform option, against which the status quo is presented as implicitly problem-free. Along with the hard-to-understand ballots and "many small parties," respondents are menaced with a world in which it "takes longer for government to get things done," is "less clear who is accountable," and "takes longer to count the ballots," among other perils.</p>
                    <footer><a href="http://nationalpost.com/g00/opinion/andrew-coyne-biggest-problem-with-mydemocracy-survey-is-the-questions/wcm/78eef4b5-a12e-476e-a575-36d14fdd165a">Andrew Coyne: Biggest problem with MyDemocracy survey is the questions</a></footer>
                </blockquote>
            </div>
            <div class="col-sm-6">
                <p>
                    <img src="/static/images/timeline-2016-mydemocracy.jpg" style="max-width: 100%" />
                </p>
                <blockquote>
                    <p>A push poll is an interactive marketing technique, most commonly employed during political campaigning, in which an individual or organization attempts to manipulate or alter prospective voters' views/beliefs under the guise of conducting an opinion poll.</p>
                    <footer>Wikipedia, <a href="https://en.wikipedia.org/wiki/Push_poll">Push Poll</a></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <h2>Compare the Quality of Questions</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-center">Questions from the special committee's online consultation</h3>
                <blockquote>
                    <ul>
                        <li>Independent candidates should be able to be elected to Parliament</li>
                        <li>The current electoral system adequately reflects voters' intentions</li>
                        <li>Seats should be allocated in proportion to the percentage of votes received by each political party</li>
                        <li>Voters should elect local candidates to represent them in Parliament</li>
                        <li>The current electoral system should be changed</li>
                    </ul>
                </blockquote>
            </div>
            <div class="col-sm-6">
                <h3 class="text-center">Questions from the Liberal's MyDemocracy.ca</h3>
                <blockquote>
                    <ul>
                        <li>There should be parties in Parliament that represent the views of all Canadians, even if some are radical or extreme.</li>
                        <li>Governments should have to negotiate their policy decisions with other parties in Parliament, even if it is less clear who is accountable for the resulting policy.</li>
                        <li>It is better for several parties to have to govern together than for one party to make all the decisions in government, even if it takes longer for government to get things done.</li>
                    </ul>
                </blockquote>
            </div>
        </div>
    </div>
    <h2>Gallows Humour</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <iframe src="https://www.youtube-nocookie.com/embed/BoThpainpuo?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-6">
                <p>MyDemocracy's approach was mocked both in and out of parliament.</p>
                <blockquote>
                    <p>Would you prefer a slightly more complex ballot that meant a more representative government, even though it's covered in bees? #rejectedERQs</p>
                    <footer><a href="https://twitter.com/SteveJMoran/status/805844041485193216">@SteveJMoran, Dec 5th</a></footer>
                </blockquote>
                <p>But the survey provided exactly what it was designed to; It provided muddy answers in response to muddy questions. This paved the way to 2017's change of direction.</p>
            </div>
        </div>
    </div>
    <div class="landscapes">
        <a href="/2016-erre">
            <h3>&laquo; 2016<br /><small>The Special Committee on Electoral Reform</small></h3>
            <img src="/static/images/timeline-2016-erre.jpg" />
        </a>
        <a href="/2017">
            <h3>2017 &raquo;<br /><small>Breaking the Promise</small></h3>
            <img src="/static/images/timeline-2017.jpg" />
        </a>
    </div>
</div>
{% endblock %}
