{% extends "base.html" %}

{% block title %}2017 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container timeline">
    <h2>2017: Breaking the Promise</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <p>On January 10, 2017, then Minister of Democratic Institutions Maryam Monsef was replaced by Karina Gould. The year prior, she had spoken passionately on the subject of universal suffrage:</p>
                <blockquote>
                    <p>It is almost incomprehensible that we could ever exclude a full 50% of society from the franchise, that we could exclude indigenous peoples, ethnocultural minority groups, and those who dared to express different beliefs from those of the government of the day. &hellip; Electoral reform is the next step in this evolution toward a more inclusive system.</p>
                    <footer><a href="http://www.ourcommons.ca/DocumentViewer/en/42-1/house/sitting-64/hansard#Int-8963139">Karina Gould, June 2nd, 2016</a></footer>
                </blockquote>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.youtube-nocookie.com/embed/WPQfM3mYiFQ?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <p>Contrast the 2016 speech with Gould's interview on CBC's Metro Morning. When asked <q>Why is it important that people at the very least believe every vote counts?</q>, Gould had the following to say:</p>
                <blockquote>
                    <p>Because they do. &hellip; We literally count them: 1, 2, 3, 4, up to the majority that wins.</p>
                    <footer><a href="http://podcast.cbc.ca/mp3/podcasts/metromorning_20170112_76497.mp3">Karina Gould, January 12th, 2017</a></footer>
                </blockquote>
                <p>This contrast in sincerity signaled the coming change that was ultimately made public Febuary 1st.</p>
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.youtube-nocookie.com/embed/qLAk35h4Xmc?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.youtube-nocookie.com/embed/1vam62WjJVE?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube-nocookie.com/embed/4fBVys4IcJM?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <h2>My decision to make</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
                <iframe src="https://www.youtube-nocookie.com/embed/QVtTr-RO1Ts?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <h2>e-616</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                https://petitions.ourcommons.ca/en/Petition/Details?Petition=e-616
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
    <h2>The Vote</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <p>
                    On May 31st, the 
                    https://www.ourcommons.ca/Parliamentarians/en/votes/42/1/290/
                    https://www.ourcommons.ca/DocumentViewer/en/42-1/house/sitting-184/hansard#Int-9567495
                </p>
            </div>
            <div class="col-sm-6">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/iVo3rmu3ymM?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="landscapes">
        <a href="/2016-mydemocracy">
            <h3>&laquo; 2016<br /><small>MyDemocracy.ca</small></h3>
            <img src="/static/images/timeline-2016-mydemocracy.jpg" />
        </a>
        <a href="/get-involved">
            <h3>2018 &raquo;<br /><small>Get Involved</small></h3>
            <img src="/static/images/leadnow.jpg" />
        </a>
    </div>
</div>
{% endblock %}
