{% extends "base.html" %}

{% block title %}2017 &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container timeline">
    <h1>2017: Swapping Monsef with Gould</h1>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p>On January 10, 2017, then Minister of Democratic Institutions Maryam Monsef was replaced by Karina Gould. The year prior, she had spoken passionately on the subject of universal suffrage:</p>
                <blockquote>
                    <p>It is almost incomprehensible that we could ever exclude a full 50% of society from the franchise, that we could exclude indigenous peoples, ethnocultural minority groups, and those who dared to express different beliefs from those of the government of the day. While I am certainly not proud of the history of disenfranchisement in Canada's electoral history, I am truly proud of how far our democracy has evolved into a more inclusive system for all Canadians.</p>
                    <p>Electoral reform is the next step in this evolution toward a more inclusive system.</p>
                    <footer><a href="http://www.ourcommons.ca/DocumentViewer/en/42-1/house/sitting-64/hansard#Int-8963139">Karina Gould, speech in parliament, June 2nd, 2016</a></footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.youtube-nocookie.com/embed/WPQfM3mYiFQ?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>Contrast the 2016 speech with Gould's 2017 interview on CBC's Metro Morning. When asked <q>Why is it important that people at the very least believe every vote counts?</q>, Gould had the following to say:</p>
                <blockquote>
                    <p>Because they do. &hellip; We literally count them: 1, 2, 3, 4, up to the majority that wins.</p>
                    <footer><a href="http://podcast.cbc.ca/mp3/podcasts/metromorning_20170112_76497.mp3">Karina Gould on Metro Morning, January 12th, 2017</a></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <h2>Breaking the Promise</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p>Given this change of tone, it came as no surprise when on February 1st, Gould's new mandate letter was made public.</p>
                <blockquote>
                    <p>A clear preference for a new electoral system, let alone a consensus, has not emerged. Furthermore, without a clear preference or a clear question, a referendum would not be in Canada’s interest. Changing the electoral system will not be in your mandate.</p>
                    <footer><a href="/static/backups/2017-02-01-mandate.pdf">Mandate letter from Justin Trudeau to Karina Gould</a></footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <iframe src="https://www.youtube-nocookie.com/embed/qLAk35h4Xmc?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <h2>e-616</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <iframe src="https://www.youtube-nocookie.com/embed/1vam62WjJVE?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <p>Backing out of this promise resulted in the creation of petition E-616, <a href="https://petitions.ourcommons.ca/en/Petition/Search?category=All&order=MostSignatures">the largest petition ever on the House of Commons' E-petitions website</a>.</p>
                <blockquote>
                    <p>We, the undersigned, supporters of electoral reform, call upon the Government of Canada to immediately declare its on-going commitment to ensuring the 2015 election be the last Federal Canadian election under the First Past The Post system.</p>
                    <footer><a href="https://petitions.ourcommons.ca/en/Petition/Details?Petition=e-616">Petition to the Government of Canada, e-616</a></footer>
                </blockquote>
            </div>
        </div>
    </div>
    <h2>My choice to make</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p>The Special Committee found that Trudeau's preferred reform (a non-proportional system) would significantly advantage the Liberal Party and would not be appropriate for Canada.</p>
                <p>Contrast how Trudeau spoke of reform before and after this finding.</p>
                <blockquote>
                    <p>In order for meaningful electoral reform to take place, a full study of all options needs to be conducted and a consensus needs to be built. To do this properly and with the greatest chance of success, such a study must be undertaken without any preconceived notions of what the best solution would be.</p>
                    <footer><a href="/static/backups/2015-09-23-lpc-reply-to-fairvote.pdf">Trudeau's response to Fair Vote Canada, 2015</a></footer>
                </blockquote>
                <blockquote>
                    <p>It's not up to any one person, even if it’s the prime minister, to define exactly what that right system is.</p>
                    <footer><a href="http://thechronicleherald.ca/canada/1371115-paul-wells-prime-minister-committed-to-choosing-the-right-electoral-system-%E2%80%94-the-trud">Trudeau's interview with Paul Wells, 2016</a></footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <blockquote>
                    <p>It is because I felt that it was not in the best interest of our country or of our future that I turned my back on that promise. And I know people will be disappointed, yep. But this was my choice to make and I chose to make it with full consequence of the cost that is possibly going to come to it.</p>
                    <footer><a href="https://www.youtube.com/watch?v=QVtTr-RO1Ts">Trudeau, town hall meeting in Yellowknife, February 9th, 2017</a></footer>
                </blockquote>
                <iframe src="https://www.youtube-nocookie.com/embed/QVtTr-RO1Ts?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <h2>The Vote</h2>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <p>On May 31st, the content of the Special Committee's report, including its recommendation on proportional representation was brought to a vote before the House of Commons.</p>
                <p>With only two dissenting MPs, the entire Liberal caucus voted against the motion with all other parties voting in favour of it.</p>
                <blockquote>
                    <p>We are committed to ensuring that 2015 will be the last federal election conducted under the first-past-the-post voting system.</p>
                    <footer><a href="/static/backups/platforms/lpc-2015.pdf">2015 Liberal Policy Platform, with 11% of the seats with 19% of the vote</a></footer>
                </blockquote>
            </div>
            <div class="col-md-6">
                <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/iVo3rmu3ymM?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <p>Those with disproportate power will never give it up freely. The next step is to get involved. Otherwise, <a href="/1909-1923/">history has a tendency to repeat itself</a>.</p>
            </div>
        </div>
    </div>
    <!-- June 27th. CBC article "How Trudeau lost his way on electoral reform": http://www.cbc.ca/news/politics/trudeau-electoral-reform-wherry-analysis-1.4179928 -->
    <!-- June 28th. Andrew Coyne discussing Trudeau: http://nationalpost.com/g00/opinion/andrew-coyne-trudeaus-petulant-tone-deaf-performance-a-remarkable-milestone/wcm/12ac58a7-fcad-4c26-9a99-239d62cb38a2 -->
    <div class="landscapes">
        <a href="/2016-mydemocracy/">
            <h3>&laquo; 2016<br /><small>MyDemocracy.ca</small></h3>
            <img src="/static/images/timeline-2016-mydemocracy.jpg" />
        </a>
        <a href="/get-involved/">
            <h3>2018 &raquo;<br /><small>Get Involved</small></h3>
            <img src="/static/images/leadnow.jpg" />
        </a>
    </div>
</div>
{% endblock %}
