{% extends "base.html" %}

{% block title %}CGP Grey's Politics in the Animal Kingdom &ndash; {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        h1 { text-align: center; }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>CGP Grey's Politics in the Animal Kingdom</h1>
    <div class="landscapes">
        <iframe src="https://www.youtube-nocookie.com/embed/s7tWHJfhiyo?list=PL7679C7ACE93A5638?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe src="https://www.youtube-nocookie.com/embed/Mky11UJb9AY?list=PL7679C7ACE93A5638?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe src="https://www.youtube-nocookie.com/embed/QT0I-sdoSXU?list=PL7679C7ACE93A5638?rel=0" frameborder="0" allowfullscreen></iframe>
        <iframe src="https://www.youtube-nocookie.com/embed/l8XOZJkozfI?list=PL7679C7ACE93A5638?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
