{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>Is Canada Fair?</h1>
                <p><span class="nowrap">Does it matter that you can vote?</span><br /><span class="nowrap">Even if you're not represented?</span></p>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="landscapes">
        <a href="/proportional-representation/">
            <h3>Proportional Representation</h3>
            <img src="/static/images/proportional-representation.png" />
        </a>
        <a href="/2015/">
            <h3>Canadian Federal Electoral Reform</h3>
            <img src="/static/images/timeline-2017.jpg" />
        </a>
        <a href="/gallagher-index/">
            <h3>The Gallagher Index</h3>
            <img src="/static/images/gallagher-monsef.jpg" />
        </a>
        <a href="/get-involved/">
            <h3>Get Involved</h3>
            <img src="/static/images/rally.jpg" />
        </a>
        <a href="/data-visualization/">
            <h3>Data Visualization and Open Data</h3>
            <img src="/static/short-cache/hillcam-560x315.jpg" />
        </a>
        <a href="/1215-1297/">
            <h3>Looking Further Back in History<small>The Magna Carta</small></h3>
            <img src="/static/images/timeline-1215.jpg" />
        </a>
        <a href="/gerrymandering/">
            <h3>Gerrymandering</h3>
            <img src="/static/images/gerrymandering-example.jpg" />
        </a>
        <a href="/recent-parliamentary-business/">
            <h3>Recent Parliamentary Business</h3>
            <img src="/static/images/house-of-commons.jpg" />
        </a>
        <a href="/single-winner-criteria/">
            <h3>Comparing Single Winner Voting Systems</h3>
            <img src="/static/images/single-riding-example.jpg" />
        </a>
    </div>
</div>
{% endblock %}
