{% extends "base.html" %}

{% block title %}Gerrymandering &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron text-center">
                <h1>What is Gerrymandering?</h1>
                <p>Gerrymandering is the practice <span class="nowrap">of abusing electoral riding boundaries</span> <span class="nowrap">to distort the outcome of an election</span>.</p>
                <button class="btn btn-block btn-lg btn-primary" data-reveal-trigger="next">Understood. Show me some examples.</button>
            </div>
        </div>
    </div>
    <div class="landscapes" data-reveal-after="next">
        <iframe src="https://www.youtube-nocookie.com/embed/Mky11UJb9AY?list=PL7679C7ACE93A5638?rel=0" frameborder="0" allowfullscreen></iframe>
        <a href="http://polytrope.com/district/">
            <h3>District<br /><small>A Game about Representation & Redistricting</small></h3>
            <img src="/static/images/polytrope-district.jpg" />
        </a>
        <a href="/1964/">
            <h3>How Canada <span class="nowrap">got rid of</span> Gerrymandering <span class="nowrap">in 1964</span></h3>
            <img src="/static/images/timeline-1964.jpg" />
        </a>
        <a href="https://en.m.wikipedia.org/wiki/Gerrymandering">
            <h3>Wikipedia on Gerrymandering</h3>
            <img src="/static/images/wikipedia-gerrymandering.jpg" />
        </a>
        <iframe src="https://www.youtube-nocookie.com/embed/A-4dIImaodQ?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
        <iframe src="https://www.youtube-nocookie.com/embed/MnhFm5QVVTo?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
{% endblock %}
