{% extends "base.html" %}

{% block title %}Get Involved &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="text-center">In Preparation for 2019</h1>
                <p>It's easy to reach out to others with whom we already agree,<br />but the harder and more important work is to overcome the majority's political apathy.</p>
                <p>Don't talk <em>at</em> people, talk <em>with</em> people.<br/>Try just as much to understand as you would to be understood.<br />People stop listening when being lectured.</p>
                <p><a href="http://www.elections.ca/scripts/vis/FindED?L=e&PAGEID=20">Talk to your MP</a> and their upcoming political opponents.<br />Attend their events. Be involved.</p>
                <button class="btn btn-lg btn-primary" data-reveal-trigger="next">Understood. What can I do?</button>
            </div>
        </div>
    </div>
</div>
<div class="container" data-reveal-after="next">
    <div class="row">
        <div class="col-md-6">
            <div class="landscapes">
                <h2 class="text-center">Read the Major Reports</h2>
                <a href="/static/backups/reports/2016-12-01-erre-e.pdf">
                    <h3>Strengthening Democracy in Canada<small>ERRE, 2016</small></h3>
                    <img src="/static/images/timeline-2016-erre.jpg" />
                </a>
                <a href="/static/backups/reports/2004-law-commission.pdf">
                    <h3>Voting Counts<small>Law Commission of Canada, 2004</small></h3>
                    <img src="/static/images/law-commission.jpg" />
                </a>
                <h2 class="text-center">Communicate Effectively</h2>
                <iframe src="https://www.youtube-nocookie.com/embed/KXXYkLa-HHI?rel=0" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube-nocookie.com/embed/_DGdDQrXv5U?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="landscapes">
                <h2 class="text-center">Coordinate with Others</h2>
                <a href="http://www.fairvote.ca/">
                    <h3>Fair Vote Canada</h3>
                    <img src="/static/images/fairvote.jpg" />
                </a>
                <a href="https://www.votebetter.ca/">
                    <h3>Lead Now's<br />Vote Better</h3>
                    <img src="/static/images/leadnow.jpg" />
                </a>
                <a href="http://www.everyvotercounts.ca/">
                    <h3>The Every Voter Counts Alliance</h3>
                    <img src="/static/images/everyvotercounts.jpg" />
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
