{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Canada-specific content</h2>
            <div class="landscapes">
                <a href="/2015">
                    <h3>Canadian Federal Electoral Reform</h3>
                    <img src="/static/images/timeline-2017.jpg" />
                </a>
                <a href="https://api.iscanadafair.ca">
                    <h3>Open Data<br/><small>api.iscanadafair.ca</small></h3>
                    <img src="/static/images/api.iscanadafair.ca.jpg" />
                </a>
                <a href="/recent-parliamentary-business">
                    <h3>Recent Parliamentary Business</h3>
                    <img src="/static/images/house-of-commons.jpg" />
                </a>
                <a href="/get-involved">
                    <h3>Get Involved</h3>
                    <img src="/static/images/rally.jpg" />
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Democracy in general</h2>
            <div class="landscapes">
                <a href="/gallagher-index">
                    <h3>The Gallagher Index</h3>
                    <img src="/static/images/gallagher-monsef.jpg" />
                </a>
                <a href="/gerrymandering">
                    <h3>Gerrymandering</h3>
                    <img src="/static/images/gerrymandering-example.jpg" />
                </a>
                <a href="/cgp-grey">
                    <h3>CGP Grey's<br />Politics in the Animal Kingdom</h3>
                    <img src="/static/images/cgp-grey.jpg" />
                </a>
                <a href="/single-winner-criteria">
                    <h3>Comparing Single Winner Voting Systems</h3>
                    <img src="/static/images/single-riding-example.jpg" />
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
