{% extends "blank.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/reveal/reveal.min.css">
    <link rel="stylesheet" href="/static/short-cache/reveal-theme.css">
    <style>
        #background {
            background-image: url(/static/images/parliament-blurred.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            position: fixed;
            left: 0; right: 0; top: 0; bottom: 0;
            opacity: 0.2;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="background"></div>
    <div class="reveal">
        <div class="slides">
            <section>
                <h1>Is Canada Fair?</h1>
                <p><a href="#did-you-vote">Let's talk about Canada's 2015 election</a></p>
            </section>
            <section id="did-you-vote">
                <p>Did you vote for the MP in your riding?</p>
                <ul>
                    <li><a href="#/someslide">Yes, I felt they were the best candidate</a></li>
                    <li><a href="#/someslide">Yes, but only because of their party affiliation</a></li>
                    <li><a href="#/someslide">Yes, but I felt I had to vote strategically</a></li>
                    <li><a href="#/someslide">No, I voted for another candidate</a></li>
                    <li><a href="#/someslide">No, I didn't vote</a></li>
                    <li><a href="#/someslide">I don't know who my MP is</a></li>
                </ul>
            </section>
            <section id="someslide">
                someslide
            </section>
        </div>
    </div>
    <script src="/static/reveal/reveal.min.js"></script>
    <script>
        Reveal.initialize({
            controls: false,
            progress: false,
            touch: false,
            keyboard: false,
            overview: false,
            help: false,
            transition: 'convex',
        })
    </script>
{% endblock %}
