{% extends "blank.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/reveal/reveal.min.css">
    <link rel="stylesheet" href="/static/short-cache/reveal-theme.css">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400|Open+Sans:300,700" rel="stylesheet">
    <style>
        #background {
            background-image: url(/static/images/parliament-blurred.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            position: fixed;
            left: 0; right: 0; top: 0; bottom: 0;
            opacity: 0.2;
        }
        .reveal p { margin: 40px 0; }
        .reveal li { margin-bottom: 20px; }
        .reveal .progress { height: 10px; }
    </style>
{% endblock %}

{% block body %}
    <div id="background"></div>
    <div class="reveal">
        <div class="slides">
            <section>
                <p>In 1867, most Canadians were denied the vote.</p>
                <p class="fragment">Without the vote, they were denied representation.</p>
            </section>
            <section>
                <ul>
                    <li>1918: Sex requirements were abolished</li>
                    <li class="fragment">1948: Wealth requirements were abolished</li>
                    <li class="fragment">1960: Race requirements were abolished</li>
                </ul>
                <p class="fragment">Yet most Canadians are still denied representation.</p>
            </section>
            <section>
                <ul>
                    <li>2006: Liberals and New Democrats in Alberta:<br />27% of the vote, no seats</li>
                    <li class="fragment">2011: Liberals and Greens in the Territories:<br />35% of the vote, no seats</li>
                    <li class="fragment">2015: Conservatives and New Democrats in Atlantic Canada: 37% of the vote, no seats</li>
                </ul>
                <p class="fragment">Most Canadians are still denied representation based on where they live.</p>
            </section>
            <section>
                <p>For the past 30 years, most winning parties<br />win around 40% of the vote, but 56% of the seats.</p>
                <p class="fragment">So some votes still count more than others.<br />But this problem can be fixed.</p>
                <p class="fragment">When 40% of the vote means 40% of the seats,<br />then everyone is represented equally.</p>
                <p class="fragment"><strong><a target="_top" href="/contents/">This idea is called proportional representation.</a></strong></p>
            </section>
        </div>
    </div>
    <script src="/static/reveal/reveal.min.js"></script>
    <script>
        Reveal.initialize({
            overview: false,
            help: false,
            transition: 'convex',
        })
    </script>
{% endblock %}
