{% extends "base.html" %}

{% block title %}Mount Doom &ndash; {{ super() }}{% endblock %}

{% block head %}
    {{ super() }}
    <style>p + p { margin-top: 3em; }</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Mount Doom after the 2015 election</h1>
    <p><img class="block" src="/static/images/mount-doom/01.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/02.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/03.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/04.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/05.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/06.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/07.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/08.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/09.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/10.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/11.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/12.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/13.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/14.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/15.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/16.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/17.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/18.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/19.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/20.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/21.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/22.jpg" /></p>
    <p><img class="block" src="/static/images/mount-doom/23.jpg" /></p>
</div>
{% endblock %}
