{% extends "base.html" %}

{% block title %}Mount Doom &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Mount Doom after the 2015 election</h1>
    <p><img class="block" src="/static/images/mountdoom/01.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/02.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/03.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/04.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/05.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/06.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/07.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/08.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/09.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/10.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/11.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/12.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/13.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/14.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/15.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/16.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/17.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/18.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/19.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/20.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/21.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/22.jpg" /></p>
    <p><img class="block" src="/static/images/mountdoom/23.jpg" /></p>
</div>
{% endblock %}
