{% extends "base.html" %}

{% block title %}Proportional Representation &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">What is Proportional Representation?</h1>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="jumbotron text-center">
                <p>Proportional Representation is the idea that parties should hold seats in parliament in proportion to their popular vote.</p>
                <p><span class="nowrap">40% of the vote? 40% of the seats.</span> <span class="nowrap">15% of the vote? 15% of the seats.</span></p>
                <p>We can measure voting system's proportionality with <a class="nowrap" href="/gallagher-index/">the Gallagher Index</a>.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="landscapes">
                <h2>The Core Idea</h2>
                <iframe src="https://www.youtube-nocookie.com/embed/r9rGX91rq5I?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube-nocookie.com/embed/49shhdV7Xjw?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <a href="https://en.m.wikipedia.org/wiki/Proportional_representation">
                    <h3>Wikipedia on Proportional Representation</h3>
                    <img src="/static/images/wikipedia-pr.jpg" />
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="landscapes">
                <h2>Proportional Systems</h2>
                <iframe src="https://www.youtube-nocookie.com/embed/P38Y4VG1Ibo?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube-nocookie.com/embed/l8XOZJkozfI?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
