{% extends "base.html" %}

{% block title %}Proportional Representation &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1>What is Proportional Representation?</h1>
                <p>Proportional Representation is the idea that parties should hold <span class="nowrap">seats in parliament</span> in proportion to <span class="nowrap">their popular vote.</span></p>
                <p><span class="nowrap">40% of the vote? 40% of the seats.</span><br/><span class="nowrap">15% of the vote? 15% of the seats.</span></p>
                <button class="btn btn-lg btn-primary" data-reveal-trigger="next">Understood. Proportional systems ensure a party's votes and seats match up.</button>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row" data-reveal-after="next">
        <h2>The Core Idea</h2>
        <div class="col-md-12">
            <div class="landscapes">
                <iframe src="https://www.youtube-nocookie.com/embed/r9rGX91rq5I?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div class="landscapes">
                <h2>More on Electoral Reform</h2>
                <iframe src="https://www.youtube-nocookie.com/embed/49shhdV7Xjw?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube-nocookie.com/embed/s7tWHJfhiyo?list=PL7679C7ACE93A5638?rel=0" frameborder="0" allowfullscreen></iframe>
                <a href="https://en.m.wikipedia.org/wiki/Proportional_representation">
                    <h3>Wikipedia on Proportional Representation</h3>
                    <img src="/static/images/wikipedia-pr.jpg" />
                </a>
                <iframe src="https://www.youtube-nocookie.com/embed/aG6ulAPnFO4?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>Additionally, read up on The Law Commission of Canada's 2004 report <a href="/static/backups/reports/2004-law-commission.pdf">Voting Counts</a> and The Special Committee on Electoral Reform's 2016 report <a href="/static/backups/reports/2016-12-01-erre-e.pdf">Strengthening Democracy in Canada</a>, both of which recommend introducing proportional representation to Canada.</p>
        </div>
        <div class="col-md-6">
            <div class="landscapes">
                <h2>Example System: MMP</h2>
                <iframe src="https://www.youtube-nocookie.com/embed/D3guVBhKmDc?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube-nocookie.com/embed/QT0I-sdoSXU?list=PL7679C7ACE93A5638?rel=0" frameborder="0" allowfullscreen></iframe>
                <h2>Example System: STV</h2>
                <iframe src="https://www.youtube-nocookie.com/embed/P38Y4VG1Ibo?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
                <iframe src="https://www.youtube-nocookie.com/embed/l8XOZJkozfI?list=PL7679C7ACE93A5638?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
