{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <style>
        #books a { display: inline-block; display: inline-block; margin: 0 1em 2em; }
        #books img { display: inline-block; box-shadow: 0 0.2em 0.4em rgba(0,0,0,0.2); border-radius: 6px; height: 400px;  }
    </style>
{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1>Reading List</h1>

        <div class="landscapes">
            <a href="/static/backups/reports/2016-12-01-erre-e.pdf">
                <h3>Strengthening Democracy in Canada<small>ERRE, 2016</small></h3>
                <img src="/static/images/timeline-2016-erre.jpg" />
            </a>
            <a href="/static/backups/reports/2004-law-commission.pdf">
                <h3>Voting Counts<small>Law Commission of Canada, 2004</small></h3>
                <img src="/static/images/law-commission.jpg" />
            </a>
        </div>

        <p id="books">
            <!-- Perspectives of MPs -->
            <a href="https://www.google.com/search?q=Tragedy in the Commons: Former Members of Parliament Speak Out About Canada's Failing Democracy, Alison Loat and Michael MacMillan"><img src="/static/images/book-covers/loat-macmillan-tragedy.jpg" /></a>
            <a href="https://www.google.com/search?q=Irresponsible Government, Brent Rathgeber"><img src="/static/images/book-covers/rathgeber-irresponsible.jpg" /></a>
            <a href="https://www.google.com/search?q=Turning Parliament Inside Out: Practical Ideas for Reforming Canada's Democracy, Stewart, Chong, Simms"><img src="/static/images/book-covers/inside-out.jpg"></a>

            <!-- Abstract, not Canadian-specific -->
            <a href="https://www.google.com/search?q=Collective Decisions and Voting: The Potential for Public Choice, Nicolaus Tideman"><img src="/static/images/book-covers/tideman-collective.jpg" /></a>

            <!-- Historical -->
            <a href="https://www.google.com/search?q=Canada 1911: The Decisive Election that Shaped the Country, David MacKenzie and Patrice Dutil"><img src="/static/images/book-covers/dutil-mackenzie-1911.jpg"></a>
            <a href="https://www.google.com/search?q=Dominance and Decline: Making Sense of Recent Canadian Elections, Gidengil, Nevitte, Blais, Everitt, Fournier"><img src="/static/images/book-covers/dominance-and-decline.jpg"></a>
            <a href="https://www.google.com/search?q=Parties, Elections, and the Future of Canadian Politics, Amanda Bittner and Royce Koop"><img src="/static/images/book-covers/bittner-koop-parties.jpg"></a>
            <a href="https://www.google.com/search?q=The Canadian Federal Election of 2015, Jon H. Pammett and Christopher Dornan"><img src="/static/images/book-covers/pammett-dornan-2015.jpg"></a>

            <!-- Academic overviews -->
            <a href="https://www.google.com/search?q=Elections, John C. Courtney"><img src="/static/images/book-covers/courtney-elections.jpg" /></a>
            <a href="https://www.google.com/search?q=Auditing Canadian Democracy, William Cross"><img src="/static/images/book-covers/cross-auditing.jpg"></a>
            <a href="https://www.google.com/search?q=Advocacy Groups, Lisa Young and Joanna Everitt"><img src="/static/images/book-covers/young-everitt-advocacy.jpg"></a>
            <a href="https://www.google.com/search?q=The Canadian Regime: An Introduction to Parliamentary Government in Canada, Malcomson, Myers, Baler, Bateman"><img src="/static/images/book-covers/canadian-regime.jpg"></a>

            <!-- Pending sorting -->
            <a href="https://www.google.com/search?q=Whose Vote Counts?, Robert Richie and Steven Hill"><img src="/static/images/book-covers/richie-hill-whose.jpg"></a>
            <a href="https://www.google.com/search?q=Voting Behaviour in Canada, Cameron D. Anderson and Laura B. Stephenson"><img src="/static/images/book-covers/anderson-stephenson-behaviour.jpg"></a>
            <a href="https://www.google.com/search?q=Reforming Parliamentary Democracy, Leslie Seidle and David C. Docherty"><img src="/static/images/book-covers/seidle-docherty-reforming.jpg"></a>
            <a href="https://www.google.com/search?q=Shopping for Votes: How Politicians Choose Us and We Choose Them, Susan Delacourt"><img src="/static/images/book-covers/delacourt-shopping.jpg"></a>
        </p>
    </div>
{% endblock %}
