{% extends "base.html" %}

{% block title %}Data Visualization &ndash; {{ super() }}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center">Data Visualization</h1>
    <div class="landscapes">
        <a href="https://api.iscanadafair.ca/">
            <h3>Open Data<br/><small>api.iscanadafair.ca</small></h3>
            <img src="/static/images/hillcam-560x315.jpg" />
        </a>
        <a target="_blank" href="/data-visualization/example-usage/">
            <h3>Example Usage</h3>
            <img src="/static/images/data-visualization/example-usage.jpg" />
        </a>
        <a target="_blank" href="/data-visualization/party-similarity/">
            <h3>Party Similarity<br/><small>by vote adherence <span class="nowrap">to party lines</span></small></h3>
            <img src="/static/images/data-visualization/party-similarity.jpg" />
        </a>
    </div>
</div>
{% endblock %}
