{% extends "blank.html" %}

{% block head %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400|Open+Sans:300,700" rel="stylesheet">
    <link href="/static/toolkit/toolkit.min.css" rel="stylesheet">
    <link href="/static/short-cache/local.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
        <div class="container">
            <a class="navbar-brand" href="/contents/">iscanadafair.ca</a>
            <a class="navbar-brand pull-right" href="/feedback/">Feedback?</a>
        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/toolkit/toolkit.min.js"></script>
        <script src="/static/short-cache/local.js"></script>
    {% endblock %}
{% endblock %}
