{% extends "blank.html" %}

{% block head %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Cinzel|Open+Sans:300,400,600" rel="stylesheet">
    <link href="/static/toolkit/toolkit.min.css" rel="stylesheet">
    <link href="/static/short-cache/local.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">iscanadafair.ca</a>
            </div>
            <div class="navbar-collapse navbar-right hidden-xs">
                <ul class="nav navbar-nav">
                    <li><a href="/feedback/">Feedback?</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer class="navbar navbar-inverse app-navbar">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/feedback/">Feedback?</a></li>
            </ul>
        </div>
    </footer>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/toolkit/toolkit.min.js"></script>
        <script src="/static/short-cache/local.js"></script>
    {% endblock %}
{% endblock %}
